{:aliases
 {;; Start dev-oriented environment:
  :dev {:extra-deps {;; Nicer REPL with vim bindings, etc:
                     com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                     ;; nREPL middleware used by editors, etc:
                     nrepl/nrepl {:mvn/version "1.0.0"}
                     ;; Prettier exception printing:
                     org.clj-commons/pretty {:mvn/version "2.2"}
                     ;; Colourised Clojure pretty-printer:
                     mvxcvi/puget {:mvn/version "1.3.4"}}
        :extra-paths ["dev"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}}
 :paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ;; File-system watcher:
  com.nextjournal/beholder {:mvn/version "1.0.2"}

  ;; Keeps track of source files and associated namespaces:
  ns-tracker/ns-tracker {:mvn/version "0.4.0"}}}
