{:aliases
 {;; Start dev-oriented environment:
  :dev {:extra-deps
        {;; Nicer REPL with vim bindings, etc:
         com.bhauman/rebel-readline {:mvn/version "RELEASE"}
         ;; nREPL middleware used by editors, etc:
         cider/cider-nrepl {:mvn/version "RELEASE"}
         ;; Prettier exception printing:
         io.aviso/pretty {:mvn/version "0.1.37"}
         ;; nREPL server/client:
         nrepl/nrepl {:mvn/version "RELEASE"}
         ;; Dynamically starts dev REPLs:
         thiru/repl-base {:git/url "https://github.com/thiru/repl-base"
                          :sha "178ac59d35098e0ac5c00e18d08d62fee0c252bf"}}
        :extra-paths ["dev"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}}
 :paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}

  ;; File-system watcher:
  com.nextjournal/beholder {:mvn/version "1.0.0"}

  ;; Keeps track of source files and associated namespaces:
  ns-tracker/ns-tracker {:mvn/version "0.4.0"}}}
